<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Simulación de PAP - Bienvenida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }
        .welcome-container {
            text-align: center;
            padding: 50px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .welcome-container h1 {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="welcome-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="150">
        <h1>Bienvenido/a al ambiente de simulación de Primeros Auxilios Psicológicos de la Pontificia Universidad Católica de Chile.</h1>
        <a href="{{ url_for('main.create_case') }}" class="btn btn-primary btn-lg">Comenzar</a>
    </div>
</body>
</html>